body {
  margin: 0px;
  padding: 0px;
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
  padding: 0px;
}

.profile {
  width: 210px;
  border: 1px solid grey;
}
.description {
  text-align: center;
}
.description img {
  border-radius: 65px;
}
.name,
.label {
  font-weight: bold;
}

.stats {
  display: flex;
  background: #4444;
  justify-content: space-between;
}

.stats li {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
}
/*statistics*/
.stat-list {
  display: flex;
  justify-content: space-between;
  background: #4444;
}

.statistics {
  width: 265px;
  border: 1px solid grey;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}
.stat-list .item {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
}
/*friends*/
.friend-list {
  width: 300px;
}

.friend-list .item {
  display: flex;
  font-size: 30px;
  align-items: center;
  border: 1px solid;
  margin: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  height: 60px;
}

.avatar {
  border-radius: 10px;
  margin: 0 5px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 10px;
}

/*transactions*/
.transaction-history {
  width: 500px;
  text-align: center;
}
.transaction-history thead {
  background: #8cd1e8;
}

.transaction-history tr {
  height: 50px;
}

.transaction-history tbody td {
  border: 1px solid grey;
}
